.carousel__holder {
  /* flex-grow: 2; */
  width: 530px;
  margin-bottom: 40px;
  margin-right: 0px;
  text-align: -webkit-center;
  text-align: center;
}

.carousel__price {
  /* border-radius: 37px 37px 37px 37px; */
  background-color: white;
  color: black;
  z-index: 2;

  font-weight: 100;

  text-align: center;
  padding: 5px 5px 5px 5px;
  position: absolute;
  /* align-self: start; */
  font-size: 12px;
}

/* .carousel__price {
   border-radius: 37px 37px 37px 37px;
  background-color: #80808080;
  color: black;
  z-index: 111155;
  margin-top: 20px;
  font-weight: revert;
  margin-left: 105px;
  text-align: center;
   padding: 11px; 
  width: 51px;
  margin-top: 319px;
  position: absolute;
  align-self: baseline;
  font-size: 13px; 
} */

.carousel__image {
  background-size: cover;
  flex-grow: 2;
  z-index: 1;
  object-fit: unset;
  background-position: center;
}

@media screen and (max-width: 992px) {
  .carousel__holder {
    /* flex-grow: 2; */
    width: 30px;
    margin-right: 20px;
    text-align: -webkit-center;
    height: 530px;
  }
}

.wuzi_slider {
  text-align: -webkit-center !important;
}

/* .wuzi_slide {
  margin: 0px 150px 0px 150px;
  width: 0% !important;
} */

.wuzi_slider_slide {
}

/* .slick-slide {
  width: fit-content !important;
} */

.slick-dots {
  position: absolute;
  bottom: -63px !important;
  display: block;
  width: 100%;
  padding: 0;
  margin-top: 125px;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots:hover {
  color: red !important;
}

.slick-dots li button:after {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black important;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: red;
}
