.carousel__holder {
  /* flex-grow: 2; */
  width: 530px;
  margin-right: 20px;
  text-align: -webkit-center;
  height: 530px;
}

.carousel__price {
  border-radius: 37px 37px 37px 37px;
  background-color: #80808080;
  color: white;
  z-index: 2;
  margin-top: 20px;
  font-weight: revert;
  margin-left: 20px;
  text-align: center;
  padding: 11px;
  width: 100px;
  position: absolute;
  align-self: start;
  font-size: 16px;
}

.carousel__image {
  background-size: cover;
  flex-grow: 2;
  z-index: 1;
  object-fit: unset;
  height: 530px;
  background-position: center;
}

@media screen and (max-width: 992px) {
  .carousel__holder {
    /* flex-grow: 2; */
    width: 30px;
    margin-right: 20px;
    text-align: -webkit-center;
    height: 530px;
  }
}
